body {
}
.wrapper {
    width: 900px;
}

.header {
    width: 900px;
    height: 70px;
    float: left;
    background-color: #4cff00;
}

.container {
    width: 900px;
    height:750px;
    float: left;
    background-color:#afe3ec;
}

.footer {
    width: 900px;
    height: 70px;
    float: left;
    background-color: #e0c3c3;
}
.text1 {
    text-align: left;
    .pic1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}